html {
    --primary-color: #e4a400;
    --secondary: rgb(159, 114, 0);
    
    height: 100%;
}
body {height: fit-content}
.sep1 {
    display:block; height: 24px; width: 100%
}
.sep2 {
    display:block; height: 6px; width: 100%
}
.content {
    height: fit-content; align-items: center;
}
.highlight {
    color: yellow
}
li {
    color: gray;
}
a {
    color: var(--secondary); 
}
.topbar {
    width: 100%; height: fit-content; overflow: hidden;
}